body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
}

.catalog-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    background-color: #fff;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;  /* Increased container size */
    text-align: center;
    overflow: hidden;
}

.product-container {
    background-size: cover;
    background-position: center;
    height: 220px;  /* Increased container size */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding: 16px;
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.product:hover .product-container {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    border-radius: 4px;
}

.product-name {
    font-size: 1.5rem;
    margin-top: 12px;
    color: #333;
}

.product-info {
    margin-top: auto;  /* Move product info to the bottom */
}

.product-description {
    color: #666;
    margin-top: 8px;
}

.product-price {
    color: #4CAF50;
    font-weight: bold;
    margin-top: 8px;
}

.add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

.cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart h2 {
    margin-bottom: 16px;
    color: #4CAF50;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

.cart button:hover {
    background-color: #45a049;
}
